<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!--    <TerminalConsole name="TerminalConsole">-->
        <!--      <PatternLayout>-->
        <!--        <LoggerNamePatternSelector-->
        <!--          defaultPattern="%highlightError{[%d{HH:mm:ss} %level] [%logger]: %minecraftFormatting{%msg}%n%xEx}">-->
        <!--          &lt;!&ndash; Velocity doesn't need a prefix &ndash;&gt;-->
        <!--          <PatternMatch key="io.d2a.strangeproxy."-->
        <!--            pattern="%highlightError{[%d{HH:mm:ss} %level]: %minecraftFormatting{%msg}%n%xEx}"/>-->
        <!--        </LoggerNamePatternSelector>-->
        <!--      </PatternLayout>-->
        <!--    </TerminalConsole>-->

        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | [%d{HH:mm:ss}] [%t/%level]: %m%n" />
        </Console>

        <RollingRandomAccessFile name="File" fileName="logs/latest.log"
                                 filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz"
                                 immediateFlush="false">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: {%msg}{strip}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <!--      <AppenderRef ref="TerminalConsole"/>-->
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>